<!-- Title -->
<div class="row justify-content-center mb-4">
    <div class="col-5">
        <h1>enter new details</h1>
    </div>
</div>
<!-- User Details update form -->
<div class="row justify-content-center mb-4">
    <div class="col-sm-5 col-10 access-box p-2 profile">
        <form method="POST" action="">

            <!-- Username -->
            <div class="form-group">
                <label for="username">username</label>
                <input id="username" name="username" type="text" class="form-control" minlength="4" maxlength="10"
                    pattern="^[a-zA-Z0-9{4,10}$" required>
            </div>

            <!-- Email -->
            <div class="form-group">
                <label for="email">email address</label>
                <input id="email" name="email" type="email" class="form-control" required>
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password">password</label>
                <input id="password" name="password" type="password" minlength="4" maxlength="10"
                    pattern="^[a-zA-Z0-9{4,10}$" class="form-control" required>
            </div>
            <!-- Action Buttons -->
            <!-- Update Details -->
            <button type="submit" class="btn"><i class="fas fa-check icon-btn"></i></button>
            <!-- Cancel -->
            <a href="/discover/reviews" class="btn "><i class="fas fa-times-circle icon-btn"></i></a>
        </form>
    </div>

</div>
