<!-- Title -->
<div class="row justify-content-center mb-4">
    <div class="col-5">
        <h1 >Login</h1>
    </div>
</div>
<!-- Login form -->
<div class="row justify-content-center mb-4">
    <div class="col-sm-5 col-10 access-box p-2">
        <form method="POST" action="/login">
            <!-- Username -->
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" class="form-control" minlength="4" maxlength="10"
                    pattern="^[a-zA-Z0-9{4,10}$" required>
            </div>
            <!-- Password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" minlength="4" maxlength="10"
                    pattern="^[a-zA-Z0-9{4,10}$" class="form-control" required>
            </div>
            <!-- Login -->
            <button type="submit" class="btn"><i class="fas fa-sign-in-alt icon-btn"></i></button>
        </form>
    </div>
<!-- Redirection to register -->    
</div>
<div class="row mt-2 justify-content-center">
    <div class="col-sm-5 col-10 p-2 access-box">
        <h2 class="">Do not have an account yet? </h2>
        <a href="/register" class="btn"><i class="fas fa-user-plus icon-btn"></i></a>
    </div>
</div>
