{% extends "layout/base.html" %}
{% block content %}

<div class="row">
    <div class="col-12">
        <h3 class="center">Login</h3>
        <form method="POST" action="{{ url_for('login') }}">
            <!-- Username -->
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" class="form-control" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9{5,15}$" required>
            </div>
            <!-- Password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9{5,15}$" class="form-control" required>
            </div>
            <!-- Register -->
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>


{% endblock %}