<div class="row">
    <div class="col-5">
        <h3 class="center">Register</h3>
        <form method="POST" action="{{ url_for('register') }}">
            <!-- Username -->
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" class="form-control" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9{5,15}$" required>
            </div>
            <!-- Email -->
            <div class="form-group">
                <label for="email">Email Address</label>
                <input id="email" name="email" type="email" class="form-control" required>
            </div>
            <!-- Password -->
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" minlength="5" maxlength="15"
                    pattern="^[a-zA-Z0-9{5,15}$" class="form-control" required>
            </div>
            <!-- Register -->
        <button type="submit" class="btn">Register</button>
        </form>
    </div>
    
</div>
<div class="row">
    <div class="col-5">
        
        <p class="">Already have an account? <a href="{{ url_for('login') }}" class="btn">login</a></p>
    </div>
</div>
