<!-- Title -->
<div class="row justify-content-center mb-4">
    <div class="col-5">
        <h1 >Register</h1>
    </div>
</div>
<!-- Registration form -->
<div class="row justify-content-center mb-4">
    <div class="col-sm-5 col-10 access-box p-2 profile">
        <form method="POST" action="/register">
            <!-- Username -->
            <div class="form-group">
                <label for="username">username</label>
                <input id="username" name="username" type="text" class="form-control" minlength="4" maxlength="10"
                    pattern="^[a-zA-Z0-9{4,10}$" required>
            </div>
            <!-- Email -->
            <div class="form-group">
                <label for="email">email address</label>
                <input id="email" name="email" type="email" class="form-control" required>
            </div>
            <!-- Password -->
            <div class="form-group">
                <label for="password">password</label>
                <input id="password" name="password" type="password" minlength="4" maxlength="10"
                    pattern="^[a-zA-Z0-9{4,10}$" class="form-control" required>
            </div>
            <!-- Register -->
        <button type="submit" class="btn"><i class="fas fa-user-plus icon-btn"></i></button>
        </form>
    </div>
    
</div>
<!-- Redirection to login -->    
<div class="row mt-2 justify-content-center">
    <div class="col-sm-5 col-10 p-2 access-box">
        <h2 class="">Already have an account? </h2>
        <a href="/login" class="btn"><i class="fas fa-sign-in-alt icon-btn"></i></a>
    </div>
    </div>
</div>
