{% extends "layout/base.html" %}
{% block content %}


<div class="col-12" id="discover-template">
    <img src="static/images/library.jpg" class="img-fluid" alt="library">
</div>
<!-- Reviews container -->
<div class="container-fluid m-md-3" id="discover-reviews">
    <!-- Action & Adventure-->
    <div class="row my-2">
        <div class="col-lg-4 col-md-6 col-12">
            <h1 class="text-left"> Action & Adventure </h1>
            <div class="review-box p-2">
                <!-- Review  -->
                {% for review in action_adventure %}

                <!-- Logged in users will see "favorite button"-->
                {% if session.user %}
                <button class="btn "><i class="far fa-heart icon-btn" title="add to favorites"></i></button>
                <a class="btn" href="{{ review.link_to_buy }}"><i class="fas fa-shopping-cart icon-btn"
                        title="buy the book"></i></a>
                {% endif %}
                <!-- Book picture -->
                <img class="col-sm-12 book-cover m-2" src="{{ review.link_to_image }}"></img><br>
                <dl class="row" id="#discover-reviews">
                        
                        <!-- Book title-->
                        
                            <dl class="col-6"><i class="fas fa-book-open pr-1" aria-hidden="true"></i>book title</dl>
                            <dd class="col-6">{{ review.title }}</dd>
                       
                        <!-- Author -->
                        
                            <dl class="col-6"><i class="fas fa-feather pr-1" aria-hidden="true"></i>author</dl>
                            <dd class="col-6"> {{ review.author }} </dd>
                        
                        <!-- Number of pages -->
                        
                            <dl class="col-6"><i class="fas fa-layer-group pr-1" aria-hidden="true"></i>number of pages
                            </dl>
                            <dd class="col-6"> {{ review.length }} </dd>
                        
                        <!-- Ease of reading -->
                        
                            <dl class="col-6"><i class="fas fa-balance-scale-right pr-1" aria-hidden="true"></i>ease of
                                read
                            </dl>
                            <dd class="col-6"> {{ review.ease_of_reading }} </dd>
                        
                        <!-- Plot summary-->
                        
                            <dl class="col-6"><i class="fas fa-align-left pr-1" aria-hidden="true"></i>plot</dl>
                            <dd class="col-6"> {{ review.plot_summary }} </dd>
                        
                        <!--Favorite quote from the book -->
                        
                            <dl class="col-6"><i class="fas fa-quote-left pr-1" aria-hidden="true"></i>favorite quote</dl>
                            <dd class="col-6"> {{ review.favorite_quote }} </dd>
                        
                        <!-- Book sum up in emojis -->
                        
                            <dl class="col-6"><i class="far fa-smile pr-1" aria-hidden="true"></i>book sum up in emoji
                            </dl>
                            <dd class="col-6"> {{ review.emoji }} </dd>
                        
                        <!-- Rate the book -->
                        
                            <dl class="col-6"><i class="fas fa-star-half-alt pr-1" aria-hidden="true"></i>rating</dl>
                            <dd class="col-6"> {{ review.rating }} </dd>
                        
                        <!-- Author of the review -->
                        
                            <dl class="col-6"><i class="fas fa-user pr-1" aria-hidden="true"></i>scribbled by:</dl>
                            <dd class="col-6"> {{ review.reviewed_by }} </dd>
                        
                </dl>

                <!-- If there are no reviews show below message -->
                {% else %}
                <h3>There are currently no reviews in this genre.</h3>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}