{% extends "layout/base.html" %}
{% block content %}

<!-- Title and image display -->
<div class="col-12 mb-2" id="discover">
    <h1 class="m-2"> your favorite reviews </h1>
    <br>
</div>

<!-- Reviews container -->
<div class="container-fluid m-md-3 reviews-container">
    <div class="row my-2">
        {% for review in fav_review %}
        <div class="col-lg-4 col-md-6 col-12">
            <!-- Genre category -->
            <h2 class="text-left my-4"> {{ review.genre}} </h2>
            <div class="review-box my-2">

                <!-- Remove from favorites button"-->
                <a class="btn" href="{{ url_for('delete_favorites', review_id=review._id)}}" title="remove from favorites"><i
                    class="far fa-trash-alt icon-btn"></i></a>

                <!-- Link to re-direct to vendor page for purchase -->
                <a class="btn" target="_blank" rel="non-opener" href="{{ review.link_to_buy }}"><i class="fas fa-shopping-cart icon-btn"
                        title="buy the book" rel="noopener"></i></a>

                <!-- Book cover img -->
                <img class="book-cover mx-5 my-2" src="{{ review.link_to_image }}" alt="book cover"><br>

                <!-- Book review -->
                {% include 'components/content/review.html' %} 
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <p class="text-center my-4"> you currently have no reviews in your favorites. </p>
            <p class="text-center my-4"> why don't you try to choose some? </p>
            <br/>
            <a aria-label="discover" id="safety-btn" href="/discover/reviews"><i
                class="far fa-heart"></i></a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}