{% extends "layout/base.html" %}
{% block content %}
{% if main_content == "edit_review" %}
<div class="container-fluid">
    {% include "components/forms/edit-review.html" %}
</div>
{% elif main_content == "add_review" %}
<div class="container-fluid">
    {% include "components/forms/add-review.html" %}
</div>
{% else %}
<!-- Title -->
<div class="col-12 mb-2">
    <div class="d-flex justify-content-center">
        <h1 class="m-2"> my reviews </h1>
        <!-- Add review button-->
        <a class="btn align-self-center" href="/add/review"><i class="fas fa-plus icon-btn"></i></a>
    </div>
</div>

<!-- Reviews container -->
<div class="container-fluid m-md-3 reviews-container">
    <div class="row my-2">
        {% for review in reviews %}
        <div class="col-lg-4 col-md-6 col-12">
            <!-- Genre category -->
            <h2 class="text-left my-4"> {{ review.genre}} </h2>
            <div class="review-box my-2">

                <!-- Action buttons -->
                <!-- Button trigger modal -->
                <a class="btn align-self-center" data-toggle="modal" data-target="#deleteFavoriteModal"><i
                        class="fas fa-trash-alt icon-btn"></i></a>
                <!-- Modal -->
                <div class="modal fade" id="deleteFavoriteModal" tabindex="-1" aria-labelledby="deleteFavoriteModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" id="deleteFavoriteModalLabel">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>are you sure you would like to delete your review?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal"><i class="fas fa-times-circle icon-btn"
                                        aria-hidden="true" title="cancel"></i></button>
                                <a type="submit" class="btn" href="{{ url_for('delete_review', review_id=review._id)}}"
                                    title="delete"><i class="fas fa-check icon-btn" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Edit review button -->
                <a class="btn" href="{{ url_for('edit_review', review_id=review._id)}}"><i
                        class="fas fa-pen icon-btn"></i></a>

                <!-- Book cover img -->
                <img class="book-cover mx-5 my-2" src="{{ review.link_to_image }}" alt="book cover"><br>

                <!-- Book review -->
                {% include 'components/content/review.html' %}
            </div>

        </div>
        {% else %}
        <div class="col-12">
            <p class="text-center my-4"> you currently have no reviews. </p>
            <p class="text-center my-4"> click the above button to add one.</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}
{% endblock %}