@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap');

:root{
    --charcoal: #39454E;
    --cold-white: #E1EBF2;
    --black: #151717;
    --baby-blue: #B5CBE1;
    --grey: #98A5B2;
    --slate-grey: #728395;
    --heading-title-font: 'Rubik', sans-serif;
    --main-font: 'Lato', sans-serif;
    --default-box-shadow: 1px 1px 6px #728395;
    --dark-box-shadow: 1px 1px 6px #151717;
    --default-text-shadow: 1px 1px 5px #728395;
    --default-transition: all 0.3s;
    --default-transform: transform: scale(1.2);
}

html{
    font-size: 62.5%
}

/* Body Main Styling */
body{
    font-size: 1.6rem;
    background-color: var(--cold-white);
    color: var(--black);
    text-align: center;
}

/* Fonts */
h1, h2, h3, h4{
    font: var(--heading-title-font);
}

p{
    font: var(--main-font);
}

/* Header Main Styling */
header {
    background-color: var(--baby-blue);
    width: 100%;
    padding: 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: var(--default-box-shadow);
    text-shadow: var(--default-text-shadow);
}
/* Main Body Styling */
main{
    min-height: 84vh;
    text-shadow: var(--default-text-shadow);
}

/* Footer Styling*/
footer {
    background-color: var(--charcoal);
}

footer small {
    font-size: 1.5rem;
}

footer li {
    list-style-type: none;
}

footer ul i {
    color: var(--slate-grey);
    width: 3.2rem;
    height: 3.2rem;
    padding: 1.2rem 0;
    font-size: 2.5rem;
}

footer ul i:hover{
    color: var(--grey);
}

/* Additional Header Styling */

header img{
    width: 100%;
    height: 100%;
}

#logo{
    width: 10rem;
    height: 10rem;
}

/* Special Navbar styling*/
#nav-dropdown-menu{
    background-color: var(--baby-blue);
    border: none!important;
    box-shadow: var(--darkest-box-shadow);
    margin: 0;
    padding: 0;
}

.dropdown-item:focus{
    color: var(--cold-white);
    background-color: var(--baby-blue);
    box-shadow: var(--default-box-shadow);
}

.dropdown-item:hover{
    color: var(--cold-white);
    background-color: var(--baby-blue);
    box-shadow: var(--default-box-shadow);
}

.navbar{
    background-color: var(--baby-blue);
}

.navbar-nav{
    height: 12rem;
}

.nav-link{
    transition: var(--default-transition);
}

.nav-item{
    text-align: right;
}

.nav-link:hover{
    color: var(--cold-white)!important;
}

/* Flash Message Styling */
#flash-message h1{
    text-shadow: var(--default-text-shadow);
    font-size: 3.5rem;
    text-transform: capitalize;
}
#flash-message{
    box-shadow: var(--dark-box-shadow);
}

/* About Page Styling */
/** Carousel styling **/

.carousel-item img{
    width: 100%;
    box-shadow: var(--dark-box-shadow);
}

/** quotes **/
.blockquote{
    font-size: 1.5rem;
    font-style: italic;
    text-shadow: none;
}

/** **/
#intro h1{
    font-weight: bolder;
}

/* Responsive breakpoints styling */

/** Styling for devices 
with the screens
wider than mobile **/

@media(min-width: 768px){
    header{
        font-size: 1.8rem;
    }
    .carousel-item img{
        width: 80%;
    }
    .carousel-inner{
        margin-top: 9rem;
    }
}

/** Styling for devices 
with the screens
wider than tablet **/

@media(min-width: 1024px){
    .carousel-inner{
        margin-top: 2rem;
    }
}

/** Styling for devices
with medium sized screens*/
@media(min-height: 1024px){
    #carouselBox{
        min-height: 40vh;
    }
}

/** Styling for devices
with extra large screens*/
@media(min-height: 1366px){
    .carousel-inner img{
        width: 85%;
    }
}