@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap');

:root{
    --charcoal: #39454E;
    --cold-white: #E1EBF2;
    --white: #ffffff;
    --black: #151717;
    --baby-blue: #B5CBE1;
    --slate-grey: #728395;
    --heading-title-font: 'Rubik', sans-serif;
    --main-font: 'Lato', sans-serif;
    --default-box-shadow: 2px 2px 9px #728395;
    --dark-box-shadow: 2px 2px 9px #151717;
    --default-text-shadow: 1px 1px 9px #728395;
    --default-transition: all 0.3s;
    --default-transform: scale(1.2);
}

html{
    font-size: 62.5%
}

/* Body Styling  - main */
body{
    background-color: var(--white);
    color: var(--charcoal);
    text-align: center;
}
main{
    min-height: 84vh;
}

/* Fonts - main */
h1, h2{
    font: var(--heading-title-font);
    text-shadow: var(--default-text-shadow);
    color: var(--charcoal);
}
h1:first-letter, h2:first-letter{
    text-transform: capitalize;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.2rem;
}
p{
    font: var(--main-font);
    font-size: 1rem;
}

/* Header Styling - main */
header {
    background-color: var(--baby-blue);
    width: 100%;
    padding: 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: var(--default-box-shadow);
    text-shadow: var(--default-text-shadow);
}

/* Footer Styling - main */
footer {
    background-color: var(--charcoal);
}

footer small {
    font-size: 1rem;
    color: var(--black);
}

footer li {
    list-style-type: none;
}

/* Footer: Social media buttons styling */
footer ul i {
    color: var(--slate-grey);
    width: 3.2rem;
    height: 3.2rem;
    padding: 1.2rem 0;
    font-size: 2.5rem;
}

footer ul i:hover{
    color: var(--white);
}

/* Header: logo */
#logo{
    width: 10rem;
    height: 10rem;
}

/* Header: navbar */
.navbar-nav{
    height: 12rem;
}

.nav-link{
    transition: var(--default-transition);
}

.nav-item{
    text-align: right;
}

.nav-link:hover{
    color: var(--cold-white)!important;
}
.navbar, .dropdown-menu{
    background-color: var(--baby-blue);
}

/* Navbar - Account: 
drop down menu styling*/

.dropdown-menu{
    border: none!important;
    margin: 0;
    padding: 0;
}

.dropdown-item:focus, .dropdown-item:hover{
    color: var(--cold-white);
    background-color: var(--baby-blue);
    box-shadow: var(--default-box-shadow);
}

/* Flash Message Styling */
#flash-message{
    box-shadow: var(--dark-box-shadow);
}

/* Templates' Styling */

/* about.html */
.carousel-item img{
    box-shadow: var(--dark-box-shadow);
    width: 375px;
    position: relative;
}

.blockquote{
    font-size: 1.5rem;
    font-style: italic;
    text-shadow: none;
}

/* about.html */
#intro h1{
    text-transform: none;
}

/* 404.html*/
.error-404{
    min-height: 100px;
    padding: 1rem;
}
.error-404 h1{
    min-height: 75px;
    margin: 2rem;
}

/* other templates + forms + content  */ 
#library-img img{
    width: 100%;
    height: auto;
    box-shadow: var(--dark-box-shadow);
}
.book-cover{
    min-width: 80%;
    height: auto;
    align-self: center;
}
.reviews-container{
    text-transform: uppercase;
}

dd, .my-reviews input{
    text-align: left;
    text-transform: none;
}

dl{
    text-align: right;
}

.review-box label:first-letter, .profile label, .profile dl{
    text-transform: capitalize;
}

/* forms specific styling */

.access-box, .review-box{
    background-color: var(--cold-white);
    box-shadow: var(--default-box-shadow);
}
.form-control{
    font-size: 1.8rem;
    line-height: 1.8;
}

/* Main Buttons */
/** Go Up button styling **/
#goUpBtn {
    display: none;
    position: fixed;
    bottom: 2rem; 
    right: 3rem; 
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--baby-blue);
    color: var(--charcoal);
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 50%;
    margin: 0.8rem;
    width: 6rem;
    height: 6rem;
    font-weight: 400;
    vertical-align: middle;
}

.fa-sort-up{
    font-size: 5rem;
    padding-top: 0.6rem;
}

#goUpBtn:hover {
    background-color: var(--slate-grey);
}
/** Take me to safety button **/
#safety-btn{
    background-color: var(--baby-blue);
    color: var(--charcoal);
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    padding: 1.5rem;
    font-size: 2rem;
    font-family: var(--heading-title-font);
    font-weight: bold;
}
#safety-btn:hover{
    background-color: var(--slate-grey);
    text-decoration: none;
}

/** Other buttons **/
.icon-btn{
    font-size: 1.8rem;
    transition: var(--default-transition);
    color:var(--slate-grey);
    text-shadow: none;
}

.icon-btn:hover{
    color: var(--white);
    
}

.btn{
    box-shadow: var(--default-box-shadow);
    transition: var(--default-transition);
    height: 2.6rem;
    width: 3.4rem;
    margin: 0.25rem;
    float: right;
    background-color: var(--charcoal);
    cursor: pointer;
}

.btn:hover{
    transform: var(--default-transform);
}

input:-internal-autofill-selected {
    background-color: var(--white)!important;
}

/* Search field styling */
.search-form input {
    height:  2.6rem;
    margin: 0.25rem;
}
.search-form input:focus {
    outline: none;
}

/* Responsive breakpoints styling */

/** Size/height/width styling
for devices with the screens
wider than mobile **/

@media(min-width: 768px){
    body, header, footer small{
        font-size: 1.8rem;
    }
    .carousel-item img{
        width: 80%;
    }
    .carousel-inner{
        margin-top: 9rem;
    }
    h1{
        font-size: 4rem;
    }
    h2, .icon-btn{
        font-size: 3rem;
    }
    p{
        font-size: 2.8rem;
    }
    .btn{
        width: 5rem;
    }
    .btn, .search-form input {
        height: 4rem;
        margin: 0.5rem;
    }
}

/** Styling for devices 
with the screens
wider than tablet **/

@media(min-width: 1024px){
    .carousel-inner{
        margin-top: 2rem;
    }
}

/** Styling for devices
with medium sized screens*/
@media(min-height: 1024px){
    #carouselBox{
        min-height: 40vh;
    }
    
}

/** Styling for devices
with extra large screens*/
@media(min-height: 1366px){
    .carousel-inner img{
        width: 85%;
    }
}