@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik&display=swap');

:root{
    --charcoal: #39454E;
    --cold-white: #E1EBF2;
    --black: #151717;
    --baby-blue: #B5CBE1;
    --grey: #98A5B2;
    --slate-grey: #728395;
    --header-title-font: 'Rubik', sans-serif;
    --main-font: 'Lato', sans-serif;
    --default-box-shadow: 1px 1px 6px #728395;
    --dark-box-shadow: 1px 1px 6px #151717;
    --default-text-shadow: 1px 1px 5px #728395;
    --default-transition: all 0.3s;
    --default-transform: transform: scale(1.2);
}

html{
    font-size: 62.5%
}

/* Body Main Styling */
body{
    font-family: var(--main-font);
    font-size: 1.6rem;
    background-color: var(--cold-white);
    color: var(--black);
    text-align: center;
}

/* Header Main Styling */
header {
    background-color: var(--baby-blue);
    font: var(--header-title-font);
    width: 100%;
    padding: 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: var(--default-box-shadow);
    text-shadow: var(--default-text-shadow);
}
