{% block header %}

<nav class="navbar navbar-expand-sm container-fluid sticky-top">
    <a href="{{ url_for('about') }}" class="" id=""><img src="" class="" alt="scribbles logo" /></a>
    <button class="navbar-toggler nav-text-color ml-auto navbar-dark" type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-text-color" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-2">
                <a href="{{ url_for('discover') }}" class="nav-link nav-text-color">Discover</a>
            </li>
            {% if session.user %}
            <li class="nav-item mr-2">
                <a href="{{ url_for('favorites') }}" class="nav-link nav-text-color">Favorites</a>
            </li>
            <li class="nav-item mr-2">
                <a href="{{ url_for('my_reviews') }}" class="nav-link nav-text-color">My Reviews</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a>
                  <a class="dropdown-item" href="{{ url_for('account') }}">View Profile</a>
                </div>
              </li>
            {% else %}
            <li class="nav-item mr-2">
                <a href="{{ url_for('about') }}" class="nav-link nav-text-color">About</a>
            </li>
            <li class="nav-item mr-2">
                <a href="{{ url_for('login') }}" class="nav-link nav-text-color">Login</a>
            </li>
            <li class="nav-item mr-2">
                <a href="{{ url_for('register') }}" class="nav-link nav-text-color">Register</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% endblock %}