{% block header %}

<nav class="navbar navbar-expand-sm container-fluid sticky-top">
    <a href="{{ url_for('about') }}" class="" id=""><img src="" class="" alt="scribbles logo" /></a>
    <button class="navbar-toggler nav-text-color ml-auto navbar-dark" type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-text-color" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mr-2">
                <a href="{{ url_for('about') }}" class="nav-link nav-text-color book-button">About</a>
            </li>
            <li class="nav-item mr-2">
                <a href="#" class="nav-link nav-text-color book-button">Discover</a>
            </li>
            <li class="nav-item mr-2">
                <a href="{{ url_for('login') }}" class="nav-link nav-text-color book-button">Login</a>
            </li>
            <li class="nav-item mr-2">
                <a href="{{ url_for('register') }}" class="nav-link nav-text-color book-button">Register</a>
            </li>
        </ul>
    </div>
</nav>

{% endblock %}